/* --------------------
      Color
----------------------- */
$main-color: #333333;
$extra-color: #ffffff;

$text-color: #4F4F4F;
$extra-text-color: #828282;

//---- element ------
$element-color-1: #2D9CDB;
$element-color-2: #2F80ED;
$element-color-3: #6FCF97;
$element-color-4: #219653;
$element-color-5: #C4C4C4;
$line-color: #E0E0E0;
$error-color: #EB5757;

$element-color: $element-color-1;
$element-border-color: $element-color-2;

$extra-element-color: $element-color-3;
$extra-element-border-color: $element-color-4;

$border-color: #BDBDBD;
$field-border-color: #8EB7ED;
$table-border-color: #F2F2F2;

$shadow: 0 0 2px 0 $element-color-2;
$info-shadow: 0 0 32px 4px rgba(163, 163, 163, 0.24);
$info-shadow-2: 0 0 4px 2px rgba(163, 163, 163, 0.24);

  //---- border ------
$element-border: 1px solid $element-border-color;
$extra-element-border: 1px solid $extra-element-border-color;
$field-border: 1px solid $field-border-color;
$border-table: 1px solid $table-border-color;
$border: 1px solid $border-color;

/* ---------------------
          font
---------------------- */
$font-family-primary: 'Noto Sans', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-title: 32px;
$font-size-main: 16px;

$font-size-extra-large: 28px;
$font-size-large: 24px;
$font-size-middle: 20px;
$font-size-small: 18px;
$font-size-extra-small: 14px;

$font-size-field: 22px;
/* ----------------------
      extra params
------------------------ */
$border-radius: 6px;
$extra-border-radius: 4px;

/* ----------------------
       screens
------------------------ */
$small-screens: 479px;
$middle-screens: 768px;
$large-screens: 993px;
